* { padding: 0; margin: 0;}


.voting img {
    height: 300px;
}


#button_no {
    cursor: pointer;
}
#button_yes {
    cursor: pointer;
}



.impact {
    padding: 10px;
}

.impact .confidence {
    color: #bbbbbb;
    padding-bottom: 5px;
}