* { padding: 0; margin: 0;}


.voting img {
    height: 300px;
}

.box {
    max-width: 300px;
    height: 300px;
    padding: 0 !important;
    text-align:center;
    overflow:hidden;
}

#vote_policy {
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#vote_decision {
    display: none;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: rgba(0,0,0,0.3);
}

#button_no {
    cursor: pointer;
}
#button_yes {
    cursor: pointer;
}



.impact {
    padding: 10px;
}

.impact .confidence {
    color: #bbbbbb;
    padding-bottom: 5px;
}