* { padding: 0; margin: 0;}

.box {
    max-width: 300px;
    height: 300px;
    padding: 0 !important;
    margin: auto;
    overflow: hidden;
}

.header-image {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 0 10px;
}
.header-image img {
    height: 40px;
}
.header-image span {
    font-size: 24px;
}

#page_done {
    padding: 30px;
}

#votes_recording {
    max-height: 50px;
    text-overflow: ellipsis;
}

.vote_legend {
    height: 100px;
    transform: translateY(100%);
}

#vote_pledged {
    text-align: center;
    font-size: 24px;
    padding: 15px 0;
}


#vote_policy {
    background-image: url(img/BH.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50%;
}

#vote_decision {
    display: none;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: rgba(0,0,0,0.3);
}

#button_no {
    cursor: pointer;
}
#button_yes {
    cursor: pointer;
}



.impact {
    padding: 10px;
}

.impact .confidence {
    color: #bbbbbb;
    padding-bottom: 5px;
}

#page_stats {
    padding-top: 50px;
}

#votes_cur {
    min-height: 160px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#votes_cur img {
    height: 100px;
}

.vote_result {
    margin: 10px 0;
    height: 30px;
    padding-top: 5px;
}
#votes_no {
    background-color: red;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}
#votes_yes {
    background-color: green;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}
